

<h2>Registration</h2>
<form (ngSubmit)="onSubmit()" #registerForm="ngForm">
  <div @fadeInOut>
    <label for="username">Username</label>
    <input type="text" [(ngModel)]="registrationForm.username" id="username" name="username"/>
  </div>
  
  <div @fadeInOut>
    <label for="password">Password</label>
    <input type="password" [(ngModel)]="registrationForm.password" id="password" name="password"/>
  </div>
  
  <div @fadeInOut>
    <label for="email">Email</label>
    <input type="email" [(ngModel)]="registrationForm.email" id="email" name="email"/>
  </div>
  
  <div @fadeInOut>
    <label for="mobile">Mobile</label>
    <input type="tel" [(ngModel)]="registrationForm.mobile" id="mobile" name="mobile"/>
  </div>
  
  <button class="submit-btn" type="submit" @bounce>Register</button>

  <div class="login-redirect" @fadeInOut>
    <p>Already have an account?</p>
    <button type="button" routerLink="/login">Login</button>
  </div>
</form>
